@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100hv;
}

section.menu {
    text-align: right;
}

section.menu ul{
   list-style-type: none;
}

section.menu li {
    padding: 10px;
}

section.menu img{
    height: 50px;
    width: 50px;
}

section.conteudo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%);
    background-image: url(../imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 627px;
    width: 311px;
}

section.conteudo iframe {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}